// Brand colors


// Neutrals
.grey-6         { color: $grey-6      !important; }
.grey-5         { color: $grey-5      !important; }
.grey-4         { color: $grey-4      !important; }
.grey-3         { color: $grey-3      !important; }
.grey-2         { color: $grey-2      !important; }
.grey-1         { color: $grey-1      !important; }

// Action colors
.primary        { color: $primary     !important; }
.secondary      { color: $secondary   !important; }
.success        { color: $success     !important; }
.warning        { color: $warning     !important; }
.danger         { color: $danger      !important; }