// Brand colors


// Neutrals
.grey-dark      { color: $grey-dark   !important; }
.grey-medium    { color: $grey-medium !important; }
.grey-light     { color: $grey-light  !important; }
.keyline        { color: $keyline     !important; }

// Action colors
.primary        { color: $primary     !important; }
.secondary      { color: $secondary   !important; }
.success        { color: $success     !important; }
.warning        { color: $warning     !important; }
.danger         { color: $danger      !important; }