.button {
  outline: none;
  border: none;
  transition: $transition;
  background: blue;
  color: white;
  padding: 1em 1.2em;
  a {
    text-decoration: none;
    color: white;
    
  }
  &:hover {
    background: black;
  }
  &:active {
    
  }
}

.button-secondary {
  background: grey;
}
