// Initalise Susy grid system
$susy: (
  columns: 12,
  gutters: 1/4,
  global-box-sizing: border-box,
  flow: ltr,
);

.container {
  @include container(1200px);
  padding: 0 2em;
}

main {
  @include vertical-padding;
}

body {
  margin: 0;
  padding: 0;
}
