<header class="nav-bar" role="banner">
  <div class="nav-bar__logo">
    Site name
  </div>
  <nav class="nav-bar__navigation" role="navigation">
    <ol>
      <li>
        <a href="#">Nav item</a>
      </li>
      <li>
        <a href="#">Nav item</a>
      </li>
      <li>
        <a href="#">Nav item</a>
      </li>
    </ol>
  </nav>
</header>
