.btn {
  outline: none;
  border: none;
  @include transition;
  background: $primary;
  color: white;
  padding: 1rem 1.2rem;
  a {
    text-decoration: none;
    color: white;
  }
  &:hover {
    // Styles here
  }
  &:active {
    // Styles here
  }
}

.btn--secondary {
  // Styles here
}
