// Form groups
.form-group {
  margin-bottom: $margin-below;
}

// Form labels
label {
  display: block;
  clear: both;
  margin-bottom: 0.3rem;
}

// Form inputs
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
  display: block;
  clear: both;
  width: 100%;
  padding: 0.6rem 0.8rem;
  margin: 0;
  outline: none;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  @include transition;
  background-color: white;
  &:focus {
    outline: none;
    border-color: $input-focus-border;
    box-shadow: 0 0 0 .125em $keyline;
  }
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
  width: auto;
  display: inline-block;
  border-radius: $input-border-radius;
}

// Disabled state
input[type][disabled] {
  opacity: 0.5;
  cursor: default;
}

input[type][disabled] + label {
  color: $grey-4;
  cursor: default;
}

// Select menus 
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: white;
  text-indent: 0.01px;
  text-overflow: '';
  display: block;
  width: 100%;
  padding: 0.6rem 0.8rem;
  font-size: $base-font-size;
  line-height: $line-height;
  border: 1px solid $input-border;
  @include rounded;
  @include transition;
  // Remove default arrow from IE10+
  &::-ms-expand {
    display: none;
  }
  &:after {
    content: "\f150"; 
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-size: $base-font-size;
    color: inherit;
    background: inherit;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
  }
}

// Radios and checkboxes
// Inspiration: http://www.tipue.com/blog/radio-checkbox/
.form-radio,
.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: $grey-3;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;     
  margin-right: 0.8rem;
  outline: none;
}

.form-checkbox {
  border-radius: $input-border-radius;
}

.form-radio:checked::before,
.form-checkbox:checked::before {
  position: absolute;
  font: 13px/1 Arial, sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
  font-weight: bold;
}

.form-radio:checked::before {
  content: '\25CF';
  left: 12px;
}

.form-radio:hover,
.form-checkbox:hover {
  background-color: $grey-3;
}

.form-radio:checked,
.form-checkbox:checked {
  background-color: $grey-6;
  color: white;
}

.radios .form-group,
.checkboxes .form-group {
  display: flex;
  align-items: center;
  label {
    flex: 1;
    margin-bottom: 0;
  }
}

