table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $margin-below;
}

table th,
table td {
  padding: 0.5rem;
}

table th {
  vertical-align: top;
  text-align: left;
}

table td {
  // Styles here
}