// Brand colors


// Neutrals
$grey-6:                #2B2B2B;
$grey-5:                #8A8A8A;
$grey-4:                #A4A4A4;
$grey-3:                #E0E0E0;
$grey-2:                #F6F6F6;
$grey-1:                #F7F7F7;


// Action colors
$primary:              #3e8ede;
$secondary:            #606060;
$success:              #4BCC47;
$warning:              #F8811A;
$danger:               #ED342A;

// Forms 
$input-border:         #A4A4A4;
$input-focus-border:   #2B2B2B;
$input-border-radius:    3px;

// Typography
$text:                 #2B2B2B;
$line-height:            1.4;
$header-line-height:     1.2;
$keyline:              #EEEEEE;

// Font sizes
$base-font-size:         1rem;
$h1:                     1.5rem;
$h2:                     1.2rem;
$h3:                     1.1rem;
$h4:                     1.0rem;
$h5:                     0.9rem;
$h6:                     0.8rem;

// Page layout
$max-width:              1200px;
$gutter:                 1rem;

// Spacing
$margin-below:           1rem;
$margin-below-large:     2rem;
$margin-below-small:     0.5rem;
$margin-below-none:      0;
