// Brand colors
$text:             #A1A1A1;

// Neutrals
$grey-dark:            #2B2B2B;
$grey-medium:          #A4A4A4;
$grey-light:           #F6F6F6;
$keyline:              #EEEEEE;

// Action colors
$primary:              #3e8ede;
$secondary:            #606060;
$success:              #4BCC47;
$warning:              #F8811A;
$danger:               #ED342A;

// Typography
$line-height:        1.4;
$header-line-height: 1.2;

// Font sizes
$base-font-size:       1rem;
$h1:                   1.5rem;
$h2:                   1.2rem;
$h3:                   1.1rem;
$h4:                   1.0rem;
$h5:                   0.9rem;
$h6:                   0.8rem;

// Page layout
$max-width:            1200px;
$gutter:               1rem;

// Spacing
$margin-below:         1rem;
$margin-below-large:   2rem;
$margin-below-small:   0.5rem;
$margin-below-none:    0;
