---
title: This is Kickstart
---

<h1>This is Kickstart</h1>
<p>Kickstart is a barebones <a href="https://middlemanapp.com">Middleman</a> project to get up and running quickly with new apps and sites.</p>
